/**

*/
/*White and black logo hack*/
.invert-img{
    filter: brightness(0) invert(1);
}

/*Why join us sectionhack on landing page*/
.software_featured_area{
    padding-bottom: 50px;
}

/*Slack Icon hack on homepage - Join us section*/
.get_content .app_btn.app_btn_one i {
    font-size: 25px;
    padding-right: 10px;
    vertical-align: sub;
}


/*Active link on Navigation hack*/
.menu > .nav-item .nav-link.active:before {
    width: 100%;
    left: 0;
    right: auto;
}