/**

*/
/*White and black logo hack*/
.invert-img{
    filter: brightness(0) invert(1);
}

/*Why join us sectionhack on landing page*/
.software_featured_area{
    padding-bottom: 50px;
}

/*Slack Icon hack on homepage - Join us section*/
.get_content .app_btn.app_btn_one i {
    font-size: 25px;
    padding-right: 10px;
    vertical-align: sub;
}


/*Active link on Navigation hack*/
.menu > .nav-item .nav-link.active:before {
    width: 100%;
    left: 0;
    right: auto;
}

/*Modal correction*/
.correct_subscribe_form_info{
    margin: 0;
    padding: 80px 0;
}

/*Thank message hack*/

.download_content_modified{
    padding: 50px 20px 80px 20px;
}

.download_content_modified img{
    padding-bottom: 20px;
}

/*input error*/
.subscribe_form_info .subscribe-form .form-control.error_bar{
    border-bottom: 1px solid #ff5656;
}
